@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("./assets/helvetica.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/helvetica-bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Compressed";
  src: url("./assets/helvetica-compressed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.root {
  overflow: hidden;
}

.body {
  overflow: hidden;
}

.modal-anim {
  transform: scale(0.95);
  opacity: 0;
  transition:
    transform 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}

.modal-anim.active {
  transform: scale(1);
  opacity: 1;
  transition:
    transform 0.25s ease-in-out,
    opacity 0.1s ease-in-out;
}
